# Texas Tow Trucks

We're going to scrape some [tow trucks in Texas](https://www.tdlr.texas.gov/tools_search/).

# Part One: Building a company list

Search for businesses with the word **WRECK** in their names.

* **Tip:** Start by scraping the first page to a dataframe, then expand to a loop that combines all of the pages. Finally combine all of the dataframes with `pd.concat`. You might find [this page helpful](https://jonathansoma.com/everything/scraping/pagination/), although the "On an interactive site" example uses Selenium instead of Playwright. You should be able to figure out how to change it!
* **Tip:** You can't just do a `try`/`except`, because even if you ask for page 99999 it will always give you the last page again! Watch out that you don't get stuck in an infinite loop!

In [120]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from playwright.async_api import async_playwright
import re

In [112]:
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless=False)

# Create a new browser window
page = await browser.new_page()

In [104]:
# loading page
await page.goto("https://www.tdlr.texas.gov/tools_search/")

### Start search

In [66]:
# for this example, it would make a lot more sense to get results in the browser but I am trying to get used to this

await page.locator('#namebutton').click()
await page.locator('#namedata').fill('WRECK')
await page.get_by_role('button').click()

### Scraping all pages

In [67]:
# scraping table to pandas df
dataframes = []

for page_num in range(1,42)  :
    print("Scraping page", page_num)
    # Grab all the tables from the page
    tables = pd.read_html(await page.content())

    # In this case, we want the third one
    df = tables[2]

    # Add it to the list of dataframes
    dataframes.append(df)

    # Click the next number
    if page_num < 41:
            next_button_selector = 'a[href*="mccs_search_process.asp?page="]:text("[Next >>]")'
            await page.wait_for_selector(next_button_selector, state="visible")
            await page.click(next_button_selector, timeout=60000)
    

# Combine all the dataframes into one big dataframe
df = pd.concat(dataframes, ignore_index=True)

Scraping page 1

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 2

Future exception was never retrieved
future: <Future finished exception=TargetClosedError('Target page, context or browser has been closed')>
playwright._impl._errors.TargetClosedError: Target page, context or browser has been closed
Future exception was never retrieved
future: <Future finished exception=Exception('Connection closed while reading from the driver')>
Exception: Connection closed while reading from the driver
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 3
Scraping page 4

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 5
Scraping page 6

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 7
Scraping page 8

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 9
Scraping page 10

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 11

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 12
Scraping page 13

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 14
Scraping page 15

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 16

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 17
Scraping page 18

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 19

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 20

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 21
Scraping page 22

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 23
Scraping page 24

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 25

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 26
Scraping page 27

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 28
Scraping page 29

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 30

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 31
Scraping page 32

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 33
Scraping page 34

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 35
Scraping page 36

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 37
Scraping page 38

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 39
Scraping page 40

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())
/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

Scraping page 41

/var/folders/bp/pstyf_r14hx35s64y_db5pq40000gn/T/ipykernel_303/1931143414.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(await page.content())

In [68]:
df

,0,1,2,3,4,5
0,Customer,DBA Name,TDLR Number,City,State,Zip code
1,CALIBER WRECKER SERVICE LLC,NaN,006598046C (Insurance not applied !),CHANNELVIEW,TX,77530
2,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC",006096604C,TERRELL,TX,75160
3,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC.",0612137VSF,TERRELL,TX,75160
4,1ST CHOICE WRECKER SERVICE LLC,NaN,006529369C,SILSBEE,TX,77656
...,...,...,...,...,...,...
838,WRIGHT'S WRECKER SERVICE,NaN,0593304VSF (Expired!),NASH,TX,75569
839,WRIGHT'S WRECKER SERVICE,NaN,0508198VSF (Expired!),NASH,TX,75569
840,Customer,DBA Name,TDLR Number,City,State,Zip code
841,XTREME WRECKER SERVICES INC.,NaN,0650507VSF,BARSTOW,TX,79719
842,"XTREME WRECKER SERVICES, INC",NaN,006504760C,BARSTOW,TX,79719

### Cleanup

If you haven't already, rename the columns to be:
    
    * Customer
    * DBA Name
    * TDLR Number
    * City
    * State
    * Zip code

and remove all of the rows where the customer name is `Customer`.

In [69]:
df.columns = df.iloc[0]
df = df[1:]
df

,Customer,DBA Name,TDLR Number,City,State,Zip code
1,CALIBER WRECKER SERVICE LLC,NaN,006598046C (Insurance not applied !),CHANNELVIEW,TX,77530
2,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC",006096604C,TERRELL,TX,75160
3,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC.",0612137VSF,TERRELL,TX,75160
4,1ST CHOICE WRECKER SERVICE LLC,NaN,006529369C,SILSBEE,TX,77656
5,1ST CHOICE WRECKER SERVICE LLC,NaN,0652937VSF,SILSBEE,TX,77656
...,...,...,...,...,...,...
838,WRIGHT'S WRECKER SERVICE,NaN,0593304VSF (Expired!),NASH,TX,75569
839,WRIGHT'S WRECKER SERVICE,NaN,0508198VSF (Expired!),NASH,TX,75569
840,Customer,DBA Name,TDLR Number,City,State,Zip code
841,XTREME WRECKER SERVICES INC.,NaN,0650507VSF,BARSTOW,TX,79719
842,"XTREME WRECKER SERVICES, INC",NaN,006504760C,BARSTOW,TX,79719

In [75]:
# dropping values with boolean mask

mask = df['Customer'] == 'Customer'
df_clean = df[~mask]
df_clean

,Customer,DBA Name,TDLR Number,City,State,Zip code
1,CALIBER WRECKER SERVICE LLC,NaN,006598046C (Insurance not applied !),CHANNELVIEW,TX,77530
2,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC",006096604C,TERRELL,TX,75160
3,1ST CHOICE WRECKER SERVICE,"1ST CHOICE PAINT & BODY, INC.",0612137VSF,TERRELL,TX,75160
4,1ST CHOICE WRECKER SERVICE LLC,NaN,006529369C,SILSBEE,TX,77656
5,1ST CHOICE WRECKER SERVICE LLC,NaN,0652937VSF,SILSBEE,TX,77656
...,...,...,...,...,...,...
837,WRIGHT'S WRECKER SERVICE,NaN,005388553C,NASH,TX,75569
838,WRIGHT'S WRECKER SERVICE,NaN,0593304VSF (Expired!),NASH,TX,75569
839,WRIGHT'S WRECKER SERVICE,NaN,0508198VSF (Expired!),NASH,TX,75569
841,XTREME WRECKER SERVICES INC.,NaN,0650507VSF,BARSTOW,TX,79719
842,"XTREME WRECKER SERVICES, INC",NaN,006504760C,BARSTOW,TX,79719

## Save as `wreckers.csv`

In [76]:
df_clean.to_csv('wreckers.csv')

# Part Two: Company info

> You can use whatever tool you'd like for this, but form submission doesn't necessarily mean Playwright! If you want to go the `requests` route instead, feel free to [look at this page](https://jonathansoma.com/everything/scraping/pretending-to-be-a-browser/) about several ways to pretend to be a browser.

## Step 1: Scraping one page

Try searching from the [tools page](https://www.tdlr.texas.gov/tools_search/) for the TDLR Number `006556161C`. From the results page, scrape the:

* Business name
* Phone number
* License status
* Physical address

And save the results into a dictionary. Also include `TDLR Number` in the dictionary. **Print the dictionary**.

> ***Tip:** It's best if each item has its own key, but **it's fine to pull "larger" sections of the page and split them up in pandas later on***
>
> ***Tip:** Be sure you don't forget to include `TDLR Number` in the dictionary!*

#### searching the TDLR Number

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from playwright.async_api import async_playwright

In [40]:
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless=False)

In [41]:
# Create a new browser window
page = await browser.new_page()

In [42]:

# load the search page
await page.goto('https://www.tdlr.texas.gov/tools_search/')

In [43]:
await page.locator('#mcrbutton').click()
await page.locator('#mcrdata').fill('006556161C')
await page.get_by_role('button').click()

#### scaraping the relevant information

In [166]:
html_tldr = await page.content()
doc_tldr = BeautifulSoup(html_tldr)

# lets get all 'tables'
all_tables = doc_tldr.select('table')

# table[3] for name and phone no.
table_3 = all_tables[3]
elements_3 = table_3.select('td')

# cleaning elements
name = elements_3[2].text.split(':')[1].replace('\xa0', ' ').lstrip()
phone = elements_3[8].text.split(':')[1].replace('\xa0', ' ').lstrip()

# table[4] for other details
table_4 = all_tables[4]
elements_4 = table_4.select('td')

status = elements_4[1].text.split(':')[1].replace('\xa0', ' ').lstrip()
tdlr = elements_4[2].text.split(':')[1].replace('\xa0', ' ').lstrip()

# Define a regular expression pattern to extract the no. and status
pattern = r'(\d+)[^\(]+(\(.*\))'

# Use re.match to find the matches in the text
match = re.match(pattern, tdlr)
number = match.group(1).strip()
status = match.group(2).strip()

# finally the address

# address_int = elements_4[3].text.split('\n')[1].replace('\xa0', ' ').lstrip()
address_string_list = [every.replace('\xa0', '').strip() for every in elements_4[3].text.split('\n')[12:14]]

address = f"{address_string_list[0]}, {address_string_list[1]}"

# Now lets create a dictionary

dict_tdlr = {
    'Business Name': name,
    'Phone': phone,
    'License No': number,
    'License Status': status,
    'Physical Address' : address
}

dict_tdlr

{'Business Name': 'DIRTY SOUTH TRANSPORT AND RECOVERY, LLC ',
 'Phone': '713-259-5445',
 'License No': '006556161',
 'License Status': '(Active)',
 'Physical Address': '11053 LORETTA LN, PLANTERSVILLE,TX.77363'}

## Step 2: Move into one cell

Move the code above all into one cell that relies on the variable `tdlr_number`.

Add the code below to the page and confirm that it displays the data for the correct result.

```python
tdlr_number = '0654479VSF'
```

Confirm that the information is correct. Did it not work out? Go back and edit your selectors, or be a little broader in the parts of the page you sweep up.

In [215]:
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless=False)

In [216]:
# Create a new browser window
page = await browser.new_page()
# load the search page
await page.goto('https://www.tdlr.texas.gov/tools_search/')
# search the tdlr
await page.locator('#mcrbutton').click()
await page.locator('#mcrdata').fill('006556161C')
await page.get_by_role('button').click()

In [219]:
html_tldr = await page.content()
doc_tldr = BeautifulSoup(html_tldr)

# lets get all 'tables'
all_tables = doc_tldr.select('table')

# # table[3] for name and phone no.
# table_3 = all_tables[3]
# elements_3 = table_3.select('td')

# # cleaning elements

# name = elements_3[2].text.split(':')[1].replace('\xa0', ' ').lstrip()
# phone = elements_3[8].text.split(':')[1].replace('\xa0', ' ').lstrip()

# table[4] for other details
table_4 = all_tables[4]
elements_4 = table_4.select('td')

status = elements_4[1].text.split(':')[1].replace('\xa0', ' ').lstrip()
tdlr = elements_4[2].text.split(':')[1].replace('\xa0', ' ').lstrip()

# Define a regular expression pattern to extract the no. and status
pattern = r'(\d+)[^\(]+(\(.*\))'

# Use re.match to find the matches in the text
match = re.match(pattern, tdlr)
number = match.group(1).strip()
status = match.group(2).strip()

# the address

# address_int = elements_4[3].text.split('\n')[1].replace('\xa0', ' ').lstrip()
address_string_list = [every.replace('\xa0', '').strip() for every in elements_4[3].text.split('\n')[12:14]]

address = f"{address_string_list[0]}, {address_string_list[1]}"

# name and phone ( I used chatGPT here to change the code after my initial one failed)

# Extract all text
all_text = doc_tldr.get_text(separator=' ', strip=True)

# Identify relevant information based on context
name_index = all_text.index('Name:')
name = all_text[name_index + len('Name:'):].split('DBA:')[0].strip()

phone_index = all_text.index('Phone:')
phone = all_text[phone_index + len('Phone:'):].split('Certificate Information:')[0].strip()

# Now lets create a dictionary

dict_tdlr = {
    'Business Name': name,
    'Phone': phone,
    'License No': number,
    'License Status': status,
    'Physical Address' : address
}

dict_tdlr

{'Business Name': 'DIRTY SOUTH TRANSPORT AND RECOVERY, LLC',
 'Phone': '713-259-5445',
 'License No': '006556161',
 'License Status': '(Active)',
 'Physical Address': '11053 LORETTA LN, PLANTERSVILLE,TX.77363'}

## Step 3: Scraping many pages

Using pandas, read in `trucks-subset.csv`.

In [170]:
df_trucks_subset = pd.read_csv('trucks-subset.csv')
df_trucks_subset

  TDLR Number
0  006565540C
1  0654479VSF
2  006564940C

## Scrape every single row, creating a list of dictionaries from the scraped data.

You should never use for loops with pandas *except when working with Playwright*. To use loops in pandas you'll make use of `.iterrows()`.

The code below loops through a dataframe called `df` and prints out the `address` column.

```python
for index, row in df.iterrows():
    print(row['address'])
```

You'll adapt this code to use your dataframe, and combine it with the scraping code you wrote above.

> ***Tip:** This is like what we did for the townships in class*

In [249]:
lic_nums = []
for index, row in df_trucks_subset.iterrows():
    lic_nums.append(row['TDLR Number'])
print(lic_nums)

['006565540C', '0654479VSF', '006564940C']

In [250]:
all_dict = []
for num in lic_nums :
    playwright = await async_playwright().start()
    browser = await playwright.chromium.launch(headless=False)
    # Create a new browser window
    page = await browser.new_page()
    # load the search page
    await page.goto('https://www.tdlr.texas.gov/tools_search/')
    # search the tdlr
    await page.locator('#mcrbutton').click()
    await page.locator('#mcrdata').fill(num)
    await page.get_by_role('button').click()
    html_tldr = await page.content()
    doc_tldr = BeautifulSoup(html_tldr)
    
    # CREATE THE DICTIONARY
    
    # lets get all 'tables'
    all_tables = doc_tldr.select('table')
    
    # table[4] for other details
    table_4 = all_tables[4]
    elements_4 = table_4.select('td')
    
    status = elements_4[1].text.split(':')[1].replace('\xa0', ' ').lstrip()
    tdlr = elements_4[2].text.split(':')[1].replace('\xa0', ' ').lstrip()
    
    # Define a regular expression pattern to extract the no. and status
    pattern = r'(\d+)[^\(]+(\(.*\))'
    
    # Use re.match to find the matches in the text
    match = re.match(pattern, tdlr)
    number = match.group(1).strip()
    status = match.group(2).strip()
    
    # the address
    
    # address_int = elements_4[3].text.split('\n')[1].replace('\xa0', ' ').lstrip()
    address_string_list = [every.replace('\xa0', '').strip() for every in elements_4[3].text.split('\n')[12:14]]
    
    address = f"{address_string_list[0]}, {address_string_list[1]}"
    
    # name and phone ( I used chatGPT here to change the code after my initial one failed)
    
    # Extract all text
    all_text = doc_tldr.get_text(separator=' ', strip=True)
    
    # Identify relevant information based on context
    name_index = all_text.index('Name:')
    name = all_text[name_index + len('Name:'):].split('DBA:')[0].strip()
    
    phone_index = all_text.index('Phone:')
    phone = all_text[phone_index + len('Phone:'):].split('Certificate Information:')[0].strip()
    
    # Now lets create a dictionary
    
    dict_tdlr = {
        'Business Name': name,
        'Phone': phone,
        'License No': number,
        'License Status': status,
        'Physical Address' : address
    }
    
    dict_tdlr
    all_dict.append(dict_tdlr)

In [251]:
print(all_dict)

[{'Business Name': 'H & A TOWING LLC', 'Phone': '512-999-8883', 'License No': '006565540', 'License Status': '(Expired)', 'Physical Address': '11710 JOSEPH CLAYTON DR, AUSTIN,TX.78753'}, {'Business Name': '24/7TOWINGANDRECOVERYLLC', 'Phone': '4325576733', 'License No': '0654479', 'License Status': '(Active)', 'Physical Address': '3601 N COUNTY ROAD 1148, MIDLAND,TX.79705'}, {'Business Name': 'A&NTOWINGLLC', 'Phone': '2106678546', 'License No': '006564940', 'License Status': '(Active)', 'Physical Address': '1341  GAYLE LN, POTEET,TX.78065'}]

## Save your dataframe as `data-uncleaned.csv`

In [252]:
df_all = pd.DataFrame(all_dict)
df_all.to_csv('data-uncleaned.csv', index = False)

# Cleaning your data

## Re-open the `data-uncleaned.csv` file

You probably want to set `pd.options.display.max_colwidth`

In [253]:
df_finally = pd.read_csv('data-uncleaned.csv')

## Clean it up!

Make sure there are columns for

- Business name
- Phone number
- License status
- Physical address

And drop all of the other columns (The easiest way is to use `df = df.drop(columns=[...])`)

In [248]:
# Not dropping the license no. coz we need it later (or so I thought)

In [247]:
df_finally

,Business Name,Phone,License Status,Physical Address
0,H & A TOWING LLC,512-999-8883,(Expired),"11710 JOSEPH CLAYTON DR, AUSTIN,TX.78753"
1,24/7TOWINGANDRECOVERYLLC,4325576733,(Active),"3601 N COUNTY ROAD 1148, MIDLAND,TX.79705"
2,A&NTOWINGLLC,2106678546,(Active),"1341 GAYLE LN, POTEET,TX.78065"

## Combine with the original CSV file

To combine dataframes based on indexes, you use `df.join(other_df)`. If you'd prefer to match by columns, you could also use `df.merge(other_df, left_on='...', right_on='...')` and tell it the two columns that match between the two.

In [255]:
df_finally.join(df_trucks_subset)

,Business Name,Phone,License No,License Status,Physical Address,TDLR Number
0,H & A TOWING LLC,512-999-8883,6565540,(Expired),"11710 JOSEPH CLAYTON DR, AUSTIN,TX.78753",006565540C
1,24/7TOWINGANDRECOVERYLLC,4325576733,654479,(Active),"3601 N COUNTY ROAD 1148, MIDLAND,TX.79705",0654479VSF
2,A&NTOWINGLLC,2106678546,6564940,(Active),"1341 GAYLE LN, POTEET,TX.78065",006564940C

### Save to a CSV

In [256]:
df_finally.to_csv('tow_trucks_are_the_worst.csv')